.a{
    color: red;
    background-color: rgb(54, 37, 37);
    text-align: center;
    font-family: sans-serif;
    box-shadow: 0px 0px 10px;
    border-radius: 10px 50px 100px 75px;
    text-shadow: 2px 2px 7px;
    font-size: 45px;
    margin-top: 50px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}